# ==========================================
# BrightBuy - Symfony 7.4
# ==========================================

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###


# ==========================================
# BrightBuy / Local Development
# ==========================================

# XAMPP / local server files
xampp/
htdocs/

# Local database backups
*.sql
*.sql.gz
*.bak

# PHP temporary files
*.log
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor files
.vscode/
.idea/

# Node.js
/node_modules/

# Temporary uploads
uploads/

# Local configuration
config.local.php
db.local.php